:root {
  /* Fonts */
  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;

  /* Text colors */

  --main-font-color: #212121;

  /* Accent color */

  --accent-color: #2196f3;

  /* Logo color */
  --logo-color: #000000;

  /* Header background color */
  --header-background-color: #ffffff;

  /* Background color hero */
  --hero-background-color: #c4c4c4;

  /* Other colors */

  --nav-contact-color: #757575;

  /* Footer color*/
  --footer-background-color: #2f303a;

  --white-color: #ffffff;
  --second-white-color: #f5f4fa;
  --third-white-color: #f5f5f5;

  --grey-color: #757575;
  --second-grey-color: #ececec;
  --third-grey-color: #eeeeee;

  /* Social icon colors */

  --color-social-icons: #afb1b8;
}

/* Reaset style*/

body {
  font-family: var(--main-font);
  color: var(--main-font-color);
  background-color: var(--white-color);
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.main-list-style {
  list-style: none;
}

.global-li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Base styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* navigation section*/

.header {
  background-color: var(--header-background-color);
}

.nav-container {
  display: flex;
  align-items: center;
}

.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;

  font-family: var(--logo-font);
  color: var(--logo-color);
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.logo-span {
  color: var(--accent-color);
}
.nav-site {
  display: flex;
}

.item:not(:last-child) {
  margin-right: 50px;
}

.nav-site-item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;

  color: var(--main-font-color);

  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  font-size: 14px;
}
.nav-site-item:hover,
.nav-site-item:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.nav-contact {
  display: flex;
  margin-left: auto;

  text-decoration: none;
  color: var(--nav-contact-color);
  line-height: 1.1;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}

.contact-touch-item {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--nav-contact-color);
}

.contact-touch-item:not(:last-child) {
  margin-right: 30px;
}

.contact-touch-item:hover {
  color: var(--accent-color);
  fill: currentColor;
}

.nav-contact-item:hover {
  color: var(--accent-color);
}

.nav-icon {
  align-self: center;
  margin-right: 10px;
  --icon-color: currentColor;
}

/*.nav-icon:hover {
  fill: currentColor;
}
*/

/*footer section*/

.footer-section {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: left;
}

.footer-address {
  margin-top: 20px;
}

.footer-logo {
  margin: 0;
  padding: 0;
  color: var(--white-color);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.company-address {
  line-height: 1.7;
  color: var(--white-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 14px;
}
.company-address:hover,
.company-address:focus {
  color: var(--accent-color);
}

.contact-information {
  margin: 0;
  text-decoration: none;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.contact-information:hover,
.contact-information:focus {
  color: var(--accent-color);
}

/* MAIN PAGE */
/* hero section*/

.hero {
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid #000000;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('./../images/hero/hero.jpg');
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-container {
  padding-top: 200px;
  padding-bottom: 200px;
  align-items: center;
  justify-self: center;
}

.hero-headline {
  text-align: center;
  width: 696px;
  margin: auto;

  color: var(--white-color);
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  display: block;
  text-align: center;
  align-items: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;

  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--white-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  border: none;
}

.hero-button:hover,
.hero-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* company features section */

.features-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-headline {
  /*margin-top: 94px;
  margin-bottom: 50px;
  text-align: center;

  font-size: 36px;
  line-height: 1.1;
  */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-items {
  display: flex;
}

.features-item {
  margin-bottom: 10px;

  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.item-container {
  width: 270px;
}

.item-container:not(:last-child) {
  margin-right: 30px;
}

.features-paragraph {
  line-height: 1.7;
  color: var(--grey-color);
  letter-spacing: 0.03em;
  font-size: 14px;
}

/* section company activities*/

.activities-section {
  margin-bottom: 94px;
}

.activities-headline {
  text-align: center;
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}

.activities-items {
  display: flex;
}

.activities-item:not(:last-child) {
  margin-right: 30px;
}

.activities-img {
  width: 370px;
  height: 294px;
}

/*section company team*/

.team-section {
  background-color: var(--second-white-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-headline {
  text-align: center;
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}

.team-items {
  display: flex;
}

.team-item {
  width: 270px;
  height: 428px;
  background-color: var(--white-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 0px 0px 4px 4px;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}

.text-content {
  text-align: center;
  padding: 30px 32px;
}

.name-team-member {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}

.position-team-member {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.1;
  color: var(--grey-color);
  letter-spacing: 0.03em;
}

.team-social-icons {
  display: flex;
}

.team-icon {
  text-align: center;
  width: 44px;
  height: 44px;
  text-align: center;
  justify-content: center;
}

.team-icon:hover,
.team-icon:focus {
  background-color: var(--accent-color);
  border-radius: 50px;
}

.team-icon:not(:last-child) {
  margin-right: 10px;
}

.social-icons {
  fill: var(--color-social-icons);
  width: 20px;
  height: 20px;
  margin: 12px;
}

.social-icons:hover,
.social-icons:focus {
  fill: var(--white-color);
}
/* PORTFOLIO PAGE */

.portfolio-container {
  background-color: var(--white-color);
  border-top: var(--second-grey-color) 1px solid;
}

.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-headline {
  /*margin-top: 94px;
  text-align: center;
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.1;
  */

  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.first-portfolio-ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-items {
  padding: 6px 22px;

  background-color: var(--second-white-color);
  cursor: pointer;
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.portfolio-items:hover,
.portfolio-items:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.second-portfolio-ul {
  display: flex;
  flex-wrap: wrap;
}

.box-portfolio {
  width: 370px;
  height: 404px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.image-portfolio {
  display: block;
}

.box-portfolio:nth-child(3n) {
  margin-right: 0;
}

.box-portfolio:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.card-content {
  padding: 20px 24px;
  height: 110px;
  border: 1px solid var(--third-grey-color);
  border-top: 0;
}

.project-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-department {
  color: var(--grey-color);
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}
